<!DOCTYPE html>
{% extends "main.html" %}

{% block content %}
<h2> Войти в систему </h2>
<form method="post" action="{% url 'login' %}">
    {% csrf_token %}
    <table>
        <tr>
            <td>{{ form.username.label_tag }}</td>
            <td>{{ form.username }}</td>
        </tr>
        <tr>
            <td>{{ form.password.label_tag }}</td>
            <td>{{ form.password }}</td>
        </tr>
    </table>

    <input type="submit" value="Войти">
</form>

<!-- Сообщения об ошибках -->
{% if form.errors %}
    <ul>
        {% for field in form %}
            {% for error in field.errors %}
                <li>{{ error }}</li>
            {% endfor %}
        {% endfor %}
    </ul>
{% endif %}

{% if error %}
    <p style="color: red;">{{ error }}</p>
{% endif %}

<!-- Сообщение о том, что код был отправлен -->
{% if otp_sent %}
    <p style="color: green;">Одноразовый код отправлен на вашу почту</p>
{% endif %}

<button> <a href="/sign/signup"> Регистрация </a></button>
{% endblock %}
